
 @media (max-width: 800px) {
  #titre_nav {
   font-size: 1.2rem;
    
  }}
 h2{
  text-align: center;
  font-size: 2.5rem;
  margin-top: 10px;
  font-weight: 10;
  color: #D08539;
  margin-bottom: 30px;
}

main{
  margin-top: 100px;
  overflow-x: hidden;
}

#cursorgaspard{
  cursor:url("cursor_gaspard.png"),pointer;
}
#cursorhalfbike{
  cursor:url("cursor_bike.png"),pointer;
}
.cursorfeelfood{
  cursor:url("cursor_feelfood.png"),pointer;
}
#cursorturbine{
  cursor:url("cursor_wind.png"),pointer;
}
.cursorspoon{
  cursor:url("cursor_spoon.png"),pointer !important;
}
.menu{
 
  padding: 10px;
  width: 40vw;
  position: absolute;
  top:55%;
  left:50%;
  transform: translate(-50%, -50%);
}

.caroussel{
  overflow: hidden;
}

.caroussel figure{
  display: flex;
  justify-content: flex-start; 
  position: relative;
	width: 500%; 
	margin: 0;
	left: 0;
  animation: 9s slideCaroussel infinite;
}

.caroussel figure img{
  width: 20%;
  float: right;
}

@keyframes slideCaroussel {
  0% {
		left: 0;
	}
  33%{
    left: -100%;
  }
  66%{
    left: -200%;
  }
}

.party{
  position: relative;
  width: 100vw;
  height: 90vh;
  

}

.party2{
  position: relative;
  width: 100vw;
padding-inline: 150px;
  margin-bottom: 70px;
}
h3{
  color: grey;
  font-size: 2rem;
  font-weight: 1;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
padding-top: 50px;
padding-bottom: 30px;
}

.flex img{
 width: 25%;
}
.flex{
  margin:40px 0px;
  display: flex;
  justify-content: space-between;
}
.flexc{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.flexc img{
  width: 40%;
 }

video{
  width: 55vw;
  display: block;
  margin: auto;
  margin-top: 70px;
}

#background-video2{
  width: 20vw;
}



#pres{
  margin: auto;
  display: block;
  width: 35vw;
 
}

iframe{
  display: block;
  margin: auto;
  margin-top: -100px;
  
  -ms-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -o-transform: scale(0.7);
  -webkit-transform: scale(0.7);
  transform: scale(0.7);

}

@media (max-width: 1130px) {
  iframe {
   width: 80vw;
   height: 80vh;
   margin-left: 50%;
   transform: translateX(-50%);
   margin-top: 20px;
  }}


  @media (max-width: 1130px) {
    h2{
      font-size: 20px;
      margin-top: 20px;
    }

    .menu{
      width: 90vw;
    }
    .party{
      height: 50vh;
    }

    h3{
      padding-top: 10px;
    }
    .party2 .flex{
      flex-direction: column;
      margin-block: 20px;
    }

    .flex img{
      width: 70vw;
      display: block;
      margin: auto;
      margin-block: 10px;
    }
    }


    #projet_h2{
      text-align: center;
      padding-top: 60px;
      margin-top: 1px;
   
    
      
      font-size: 3rem !important;
      font-weight: bold;
      color: #D08539;
      
      min-width: 500px;
      animation-duration: 2s;
      animation-name: gauche;
      
     
    }
   
    

    @keyframes gauche {
      0% {
        padding-top: 60px;
        margin-right: 70vw;
          }
        100% {
         
          
        }
        
    }

    #absolute{
      letter-spacing: 0.5rem;
      position: absolute;
    top: 75;
      overflow: hidden;
      left: 45%;
      font-size: 4rem;
      color: #d6c5b36f;
      width: 100vw;
      z-index: -3;
      min-width: 500px;
      animation-duration: 2s;
      animation-name: droite;
    }

    @keyframes droite {
      0% {
      left: 80%;
        top: 75;
          }
        100% {
          left: 45%;
          top: 70;
          
        }
        
    }

    #relative{
      margin-bottom: 100px;
    }