main{
    margin-top: 150px;
   
}


.case_project img{
    display: block;
    margin: auto;
    width: 30vw;
    
  
    
    
}
.cursor_bike{
    cursor:url(cursor_bike.png),auto !important;
}

.cursor_spoon{
    cursor:url(cursor_spoon.png),auto !important;
}

.cursor_wind{
    cursor:url(cursor_wind.png),auto !important;
}

.cursor_feelfood{
    cursor:url(cursor_feelfood.png),auto !important;
}
.cursor_gaspard{
    cursor:url(cursor_gaspard.png),auto !important;
}

.case_project h2{
    text-align: center;
    font-size: 1.5rem;
    margin-top: 10px;
    font-weight: 10;
    color: #D08539;
    margin-bottom: 30px;
}

.case_project:hover{
 opacity: 40%;

    
    
}

#projects{
    margin: 0 100px;
}

@media (max-width: 900px) {
    .case_project img {
        width: 60vw;

      }
    }

@media (max-width: 1130px) {
    #titre_nav {
     font-size: 1.2rem;
      
    }
    
      .party2{
          margin: 10%;
          padding: 0px;
      }
    
      #projet_h2 {
          margin-bottom: 30px;
          padding-top: 40px;
          
      }
    
      .case_project h2 {
          font-size: 17px;
      }}



      .container_projects{
        display: flex;
        flex-wrap: wrap;
        justify-content:space-around;
      
      }

      .case_container{
          padding: 20px;
      }


      .container_projects h2{
          font-weight: 350;
      }